.header {
  margin-inline: 120px;

  background: radial-gradient(ellipse 160% 120% at 0% 0%,
      #F33F7F 0%,
      #5A1F33 45%,
      #1A0A1000 100%);

  border-radius: 8px;
  width: auto;

  &__wrapper {
    margin-left: 138px;
    padding-top: 120px;
    padding-bottom: 110.69px;
    color: #fff;
  }

  &__title {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 80px;
    text-transform: uppercase;
  }

  &__describe {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0;
    color: #ffeded;
    margin-block: 40px;
  }

  &__start {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    line-height: 16px;
    letter-spacing: 0;

    padding: 32px 71.5px;
    background-color: #ff4f8b;
    border-radius: 8px;
  }
}
