.position--1 {
  position: absolute;
  top: -145px;
}

.position--2 {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);

  // top: 275px;
  // left: 50px;
}

.position--3 {
  position: absolute;
  top: -55px;
}

.position--4 {
  position: absolute;
  top: -105px;
}
