.animation {
  &__track {
    display: flex;
    gap: 24px;
    margin: 0 auto;
    width: max-content;
    animation: slide 20s linear infinite;
  }

  &__rectangle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 80px;
    background: linear-gradient(135deg, #F33F7F96 0%, #5A1F3300 100%);
    border-radius: 9px;
  }

  &__logo {
    margin: auto;
  }
}

@keyframes slide {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100vw); }
}
