.forward {
  animation-direction: normal; 
}

.back {
  animation-direction: reverse;
}

.forwardPlus {
  animation: slidePlus 20s linear infinite;
  animation-direction: normal;
}

@keyframes slidePlus {
  0% { transform: translateX(calc(-100% - 80px)); }
  100% { transform: translateX(100vw); }
}


