@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

#root {
  height: 100%;
  overflow-x: hidden;

  --main-text-color: #fff;
  --second-text-color: #ffeded;
  --main-font: 'Inter', sans-serif;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  font: inherit;
  color: inherit;
  line-height: normal;
  appearance: none;
}

button img {
  display: block;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
